<section class="container newsletter">
    <div class="pt-15 pb-15">
        <h2>Hey, wait,</h2>
        <h3>Subscribe to our newsletter</h3>
        <p class="mt-4 mb-4">
            You will never miss our podcasts, latest news, etc. Our newsletter is once a week, every Wednesday.
        </p>

        <form class="input--group mt-10">
            <input type="email" placeholder="Email address" required />
            <button class="btn btn__secondary">Subscribe</button>
        </form>
    </div>
    <div>
        <img class="ringman" width="100%" src="./../../../../assets/images/ring.png" alt="ring man" />
    </div>
</section>