@import "./../../../utils/colors";
@import "./../../../utils/media";

.testimonial {
  min-height: 600px;
  @include media(phone) {
    min-height: auto;
  }

  .desc {
    font-size: 1.4rem;
    font-style: italic;
    padding: 0px 2rem;
    min-height: 100px;
    align-items: center;
    display: grid;
    color: $primary;
  }
  .pics {
    grid-template-columns: repeat(5, 1fr);
    grid-row: minmax(200, auto);
    justify-items: center;
    align-items: center;

    > img {
      object-fit: cover;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;

      @include media(phone) {
        width: 4rem;
        height: 4rem;
      }

      @include media(tablet) {
        width: 6rem;
        height: 6rem;
      }

      &.active {
        width: 14rem;
        height: 14rem;
        border: double 0.5em transparent;
        background-image: linear-gradient(white, white),
          linear-gradient(to right, $primary, $secondary-color);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 0px 2px 8px 2px $light-primary-color;

        @include media(phone) {
          border: double 0.2em transparent;
          width: 6rem;
          height: 6rem;
        }

        @include media(tablet) {
          border: double 0.4em transparent;
          width: 10rem;
          height: 10rem;
        }
      }
    }
  }
}
