<section class="grid collage container">
    <div class="div1 fadeIn">
        A simple but powerful reminder of the positive domino effect a good education can have on many aspects of a
        person's life and outlook.
    </div>
    <div class="div2 fadeIn"></div>
    <div class="div3 fadeIn"></div>
    <div class="div4 fadeIn"></div>
    <div class="div5 fadeIn"></div>
    <div class="div6 fadeIn"></div>
    <div class="div7 fadeIn"></div>
    <div class="div8 fadeIn"></div>
    <div class="div9 fadeIn">The more that you read, the more things you will know, the more that you learn, the more
        powerful you'll go.</div>
</section>