$primary: #4c00ae;
$secondary-color: #9747ff;
$light-primary-color: #c5cae9;
$white: #ffffff;
$accent: #ff4081;
$primary-txt: #212121;
$secondary-txt: #757575;
$light-txt: #bdbdbd;
$divider: #ecf0fb;
$gradient-bg: $secondary-color, $primary;
$popular-bg: lighten($light-txt,15%), $white;
