.grid {
  display: grid;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-items: center;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-start {
  justify-self: start;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
