.h1,
h1 {
  font-size: 2.5rem;
  padding: 1rem 0px;
}

.h2,
h2 {
  font-size: 2rem;
  padding: 0.8rem 0px;
}

.h3,
h3 {
  font-size: 1.75rem;
  padding: 0.6rem 0px;
}

.h4,
h4 {
  font-size: 1.5rem;
  padding: 0.4rem 0px;
}

.h5,
h5 {
  font-size: 1.25rem;
  padding: 0.2rem 0px;
}

.h6,
h6 {
  font-size: 1rem;
  line-height: 1.1rem;
  margin: 0.1rem 0px;
}
