<footer class="container footer">
    <div>
        <figure class="brand">
            <img height="40px" src="./../../../assets/images/logo_black.png" />
            <figcaption>
                <h5 class="pt-5 pb-5">One step closer to your aim.</h5>
            </figcaption>
        </figure>
    </div>
    <div>
        <h5>Site Map</h5>
        <ul class="list-column">
            @for (nav of navItems | async; track $index) {
            <li><a class="anchor no-decor" [routerLink]="nav.link" routerLinkActive="active" role="button">{{nav.name}}
                </a></li>
            }
        </ul>
    </div>
    <div>
        <h5 class="mt-3">Social</h5>
        <div class="social-row">
            <ul class="list-column">
                @for (nav of $navSocial | async; track $index) {
                <li><a class="anchor no-decor" [routerLink]="nav.link" routerLinkActive="active"
                        role="button">{{nav.name}}
                    </a></li>
                }
            </ul>
            <figure class="flyman">
                <img src="./../../../assets/images/follow.png" width="100%" />
            </figure>
        </div>
    </div>
</footer>